<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="notice"><%= message %></p>
  </div>
<% end %>

<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
  <tr>
    <th class="h-align">날짜</th>
    <th class="h-align">배달지</th>
    <th class="h-align">품목</th>
    <th class="h-align">수량</th>
    <th class="h-align">배달자</th>
  </tr>
  </thead>
  <tbody>
  <td><%= @delivary.date %></td>
  <td><%= @delivary.name %></td>
  <td><%= @delivary.product_name %></td>
  <td><%= @delivary.product_num %></td>
  <td><%= @delivary.deliver %></td>
  </tr>
  </tbody>
</table>

<button class="btn-sm">
  <%= link_to '수정', edit_delivary_path(@delivary) %>
</button>
<button class="btn-sm">
  <%= link_to '뒤로', delivaries_path %>
</button>
