<h1>일일장부</h1>
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="notice"><%= message %></p>
  </div>
<% end %>
<h3>추가 배달지</h3>
<%= form_tag daily_closing_add_delivary_path(:deliver => params[:deliver]), method: :post, multipart: true, class: 'form-inline' do %>
  <table class="table table-hover no-more-tables" style="margin-top: 20px;">
    <thead>
    <tr>
      <th class="h-align">날짜</th>
      <th class="h-align">배달지</th>
      <th class="h-align">품목</th>
      <th class="h-align">수량</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" name="date" id="date"></td>
      <td><input type="text" name="name"></td>
      <td><%= select_tag 'product_name', options_for_select(['10kg', '20kg', '50kg', '산소', '아르곤', '부탄'], '20kg')  %></td>
      <td><%= select_tag 'product_num', options_for_select(['1','2','3','4','5','6'], '1')  %></td>
    </tr>
    </tbody>
  </table>
  <div style="height :10px; margin-bottom: 5%;">
    <button class="btn-sm" type="submit" name="delivary" value="0" style="float : right">확인</button>
  </div>
<% end %>

<h3>배달 목록</h3>
<%= form_tag daily_closing_update_delivary_path(:deliver => params[:deliver]), method: :post, multipart: true, class: 'form-inline' do %>
  <table class="table table-hover no-more-tables" style="margin-top: 20px;">
    <thead>
    <tr>
      <th class="h-align"><%= check_box_tag 'delivaries_checkall' %></th>
      <th class="h-align">날짜</th>
      <th class="h-align">배달지</th>
      <th class="h-align">품목</th>
      <th class="h-align">수량</th>
    </tr>
    </thead>
    <tbody>
      <% @delivary.each do |delivary| %>
        <tr>
          <td><%= check_box_tag 'delivary_ids[]', delivary.id %></td>
          <td><%= delivary.date %></td>
          <td><%= delivary.name %></td>
          <td><%= delivary.product_name %></td>
          <td><%= delivary.product_num %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="height :10px; margin-bottom: 5%;">
    <button class="btn-sm" type="submit" name="delivary" value="1" style="float : right; margin : 5px">삭제</button>
    <button class="btn-sm" type="submit" name="delivary" value="0" style="float : right; margin : 5px">배달완료</button>
  </div>
<% end %>

<h3>외상 체크</h3>
<%= form_tag daily_closing_update_credit_path(:deliver => params[:deliver]), method: :post, multipart: true, class: 'form-inline' do %>
  <table class="table table-hover no-more-tables" style="margin-top: 20px;">
    <thead>
    <tr>
      <th class="h-align"><%= check_box_tag 'credits_checkall' %></th>
      <th class="h-align">날짜</th>
      <th class="h-align">배달지</th>
      <th class="h-align">품목</th>
      <th class="h-align">수량</th>
    </tr>
    </thead>
    <tbody>
    <% @check_delivary.each do |delivary| %>
      <tr>
        <td><%= check_box_tag 'credits_ids[]', delivary.id %></td>
        <td><%= delivary.date %></td>
        <td><%= delivary.name %></td>
        <td><%= delivary.product_name %></td>
        <td><%= delivary.product_num %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div style="height :10px; margin-bottom: 5%;">
    <button class="btn-sm" type="submit" name="credit" value="2" style="float : right; margin : 5px">배달 미완료</button>
    <button class="btn-sm" type="submit" name="credit" value="3" style="float : right; margin : 5px">외상</button>
  </div>
<% end %>

<h3>외상 목록</h3>
<%= form_tag daily_closing_update_credit_path(:deliver => params[:deliver]), method: :post, multipart: true, class: 'form-inline' do %>
  <table class="table table-hover no-more-tables" style="margin-top: 20px;">
    <thead>
    <tr>
      <th class="h-align"><%= check_box_tag 'return_credits_checkall' %></th>
      <th class="h-align">날짜</th>
      <th class="h-align">배달지</th>
      <th class="h-align">품목</th>
      <th class="h-align">수량</th>
    </tr>
    </thead>
    <tbody>
    <% @credit_delivary.each do |delivary| %>
      <tr>
        <td><%= check_box_tag 'return_credits_ids[]', delivary.id %></td>
        <td><%= delivary.date %></td>
        <td><%= delivary.name %></td>
        <td><%= delivary.product_name %></td>
        <td><%= delivary.product_num %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div style="height :10px; margin-bottom: 5%;">
    <button class="btn-sm" type="submit" name="credit" value="1" style="float : right; margin : 5px">외상 복구</button>
  </div>
<% end %>

<h3>배달 완료 목록</h3>
<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
  <tr>
    <th class="h-align">날짜</th>
    <th class="h-align">배달지</th>
    <th class="h-align">품목</th>
    <th class="h-align">수량</th>
  </tr>
  </thead>
  <tbody>
  <% @done_delivary.each do |delivary| %>
    <tr>
      <td><%= delivary.date %></td>
      <td><%= delivary.name %></td>
      <td><%= delivary.product_name %></td>
      <td><%= delivary.product_num %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div style="height :10px; margin-bottom: 5%;">
</div>

<h3>총 금액</h3>
<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
  <tr>
    <th class="h-align">품목</th>
    <th class="h-align">판매 수량</th>
  </tr>
  </thead>
  <tbody>
  <% @cost_delivary.each do |delivary| %>
    <tr>
      <td><%= change_product_name(delivary.product_name) %></td>
      <td><%= delivary.product_num_all %></td>
    </tr>
  <% end %>
  <tr>
    <td>총 금액</td>
    <td><%= number_with_delimiter(@total_cost) %></td>
  </tr>
  </tbody>
</table>

<%= form_tag daily_closing_create_path(:deliver => params[:deliver]), method: :post, class: 'form-inline search-user-form' do %>
  <h3>마감 장부 날짜</h3>
  <input type="text" name="report_date" id="report_date">
  <div style="height :10px; margin-bottom: 5%;">
    <button class="btn-sm" type="submit" style="float : right; margin : 5px">제출</button>
  </div>
<% end %>


<script>
    $(document).ready(function () {
        //최상단 체크박스 클릭
        $("#delivaries_checkall").click(function () {
            //클릭되었으면
            if ($("#delivaries_checkall").prop("checked")) {
                //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 true로 정의
                $("input[id=delivary_ids_]").prop("checked", true);

                //클릭이 안되있으면
            } else {
                //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 false로 정의
                $("input[id=delivary_ids_]").prop("checked", false);
            }
        });

        $("#credits_checkall").click(function () {
            //클릭되었으면
            if ($("#credits_checkall").prop("checked")) {
                //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 true로 정의
                $("input[id=credits_ids_]").prop("checked", true);

                //클릭이 안되있으면
            } else {
                //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 false로 정의
                $("input[id=credits_ids_]").prop("checked", false);
            }
        });

        $("#return_credits_checkall").click(function () {
            //클릭되었으면
            if ($("#return_credits_checkall").prop("checked")) {
                //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 true로 정의
                $("input[id=return_credits_ids_]").prop("checked", true);

                //클릭이 안되있으면
            } else {
                //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 false로 정의
                $("input[id=return_credits_ids_]").prop("checked", false);
            }
        });
    })

    $(function() {
        $( "#date" ).datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });

    $(function() {
        $( "#report_date" ).datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });

</script>