<h3>배달 목록</h3>
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="notice"><%= message %></p>
  </div>
<% end %>
<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
  <tr>
    <th class="h-align">날짜</th>
    <th class="h-align">배달지</th>
    <th class="h-align">품목</th>
    <th class="h-align">수량</th>
  </tr>
  </thead>
  <tbody>
    <% @delivary.each do |delivary| %>
    <tr>
      <td><%= delivary.date %></td>
      <td><%= delivary.name %></td>
      <td><%= delivary.product_name %></td>
      <td><%= delivary.product_num %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<div style="height :10px; margin-bottom: 5%;">
</div>

<h3>외상 목록</h3>
<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
  <tr>
    <th class="h-align">날짜</th>
    <th class="h-align">배달지</th>
    <th class="h-align">품목</th>
    <th class="h-align">수량</th>
  </tr>
  </thead>
  <tbody>
  <% @credit.each do |credit| %>
    <tr>
      <td><%= credit.date %></td>
      <td><%= credit.name %></td>
      <td><%= credit.product_name %></td>
      <td><%= credit.product_num %></td>
    </tr>
    </tbody>
  <% end %>
</table>
<div style="height :10px; margin-bottom: 5%;">
</div>


<h3>총 금액</h3>
<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
  <tr>
    <th class="h-align">품목</th>
    <th class="h-align">판매 수량</th>
  </tr>
  </thead>
  <tbody>
  <% @daily_closing_done_delivary.each do |delivary| %>
    <tr>
      <td><%= delivary.product_name %></td>
      <td><%= delivary.product_num_all %></td>
    </tr>
    </tbody>
  <% end %>
  <tr>
    <td>총 금액</td>
    <td><%= number_with_delimiter(@total_cost) %></td>
  </tr>
  </tbody>
</table>
<div style="height :10px; margin-bottom: 5%;">
  <button class="btn-sm" style="float : right; margin : 5px">
    <%= link_to '뒤로', daily_closing_path(deliver: params[:deliver]) %>
  </button>
  <button class="btn-sm" style="float : right; margin : 5px">
    <%= link_to '수정', daily_closing_edit_path(deliver: params[:deliver]) %>
  </button>
</div>

<script>
    $(".daily_closing").addClass("active");
</script>