<%= simple_form_for(@resident) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dong %>
    <%= f.input :ho %>
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
