<h1>창고현황</h1>
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="notice"><%= message %></p>
  </div>
<% end %>
<br>
<div>
  <%= form_tag warehouse_path, method: :get do %>
    <%= select_date Date.today, prefix: :start_date %>
    ~ <%= select_date Date.today, prefix: :end_date %><%= submit_tag '검색' %>
  <% end %>
</div>
<div class="col-md-2" style="margin-top: 20px; margin-bottom: 50px; text-align: center">
  <h2><span class="gas_10kg"><%= Config.find_by_id(1).count %></span></h2>
  <h3>10kg</h3>
</div>
<div class="col-md-2" style="margin-top: 20px; margin-bottom: 50px; text-align: center">
  <h2 ><span class="gas_20kg"><%= Config.find_by_id(2).count %></span></h2>
  <h3>20kg</h3>
</div>
<div class="col-md-2" style="margin-top: 20px; margin-bottom: 50px; text-align: center">
  <h2 ><span class="gas_50kg"><%= Config.find_by_id(3).count %></span></h2>
  <h3>50kg</h3>
</div>
<div class="col-md-2" style="margin-top: 20px; margin-bottom: 50px; text-align: center">
  <h2 ><span class="air"><%= Config.find_by_id(4).count %></span></h2>
  <h3>산소</h3>
</div>
<div class="col-md-2" style="margin-top: 20px; margin-bottom: 50px; text-align: center">
  <h2 ><span class="butane"><%= Config.find_by_id(5).count %></span></h2>
  <h3>부탄</h3>
</div>
<div class="col-md-2" style="margin-top: 20px; margin-bottom: 50px; text-align: center">
  <h2 ><span class="argon"><%= Config.find_by_id(6).count %></span></h2>
  <h3>아르곤</h3>
</div>

<table class="table table-hover no-more-tables">
  <thead>
  <tr>
    <th class="h-align">날 짜</th>
    <th class="h-align">10kg</th>
    <th class="h-align">20kg</th>
    <th class="h-align">50kg</th>
    <th class="h-align">산소</th>
    <th class="h-align">부탄</th>
    <th class="h-align">아르곤</th>
    <th class="h-align">입고/출고</th>
    <th class="h-align">담당자</th>
  </tr>
  </thead>
  <tbody>
  <% @warehouses.each do |warehouse| %>
    <% if warehouse.daily_closing_id.nil? %>
      <tr id="<%= dom_id(warehouse) %>"  class="linkable" data-href="<%= warehouse_path+'/'+warehouse.id.to_s + '/edit'%>">
    <% else %>
      <tr data-href="<%= warehouse_path %>">
    <% end %>
        <td><%= warehouse.date %></td>
        <td><%= warehouse.gas_10kg %></td>
        <td><%= warehouse.gas_20kg %></td>
        <td><%= warehouse.gas_50kg %></td>
        <td><%= warehouse.air %></td>
        <td><%= warehouse.butane %></td>
        <td><%= warehouse.argon %></td>
        <td><%= show_status(warehouse.status) %></td>
        <td><%= warehouse.manager %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<button class="btn-sm">
  <%= link_to '추가', warehouse_new_path %>
</button>

<div class="col-md-12">
  <div style="margin-top: 8px; text-align: center; ">
    <%= paginate @warehouses %>
  </div>
</div>


<script>
    $(document).ready(function(){
        $('table td').click(function(){
            window.location = $(this).parent().data('href');
            return false;
        });

        $('[data-toggle="tooltip"]').tooltip();
        $(".warehouse").addClass("active");
        $('.gas_10kg').animateNumber({ number: <%= Config.find_by_id(1).count %> });
        $('.gas_20kg').animateNumber({ number: <%= Config.find_by_id(2).count %> });
        $('.gas_50kg').animateNumber({ number: <%= Config.find_by_id(3).count %> });
        $('.air').animateNumber({ number: <%= Config.find_by_id(4).count %> });
        $('.butane').animateNumber({ number: <%= Config.find_by_id(5).count %> });
        $('.argon').animateNumber({ number: <%= Config.find_by_id(6).count %> });

    });
</script>
